{% load form_tags %}

{% if field.is_hidden %}
	{{ field }}
{% elif field|is_honeypot %}
	{% include "users/partials/honeypot.html" %}
{% else %}
	<div class="field-wrapper {{ field|input_class }} {{ field.css_classes }}{% if field|is_checkbox %} checkbox{% endif %}">
		{% if field.errors %}
			<ul class="errorlist">
				{{ field.errors|unordered_list }}
			</ul>
		{% endif %}
		{% if field|is_checkbox %}
			{{ field }}
		{% endif %}<br>
		<h3 class="sidelines text-center">
			<span for="{{ field.id_for_label }}"{% if field.field.required %} class="required"{% endif %}>{{ field.label }}
			</span>
		</h3>
		{% if not field|is_checkbox %}
			{{ field }}
		{% endif %}
		{% if field.help_text %}
			<p class="help_text">{{ field.help_text|safe }}</p>
		{% endif %}
	</div>
{% endif %}
