{% extends 'base.html' %}
{% block title %}作业统计{% endblock title %}
{% load static %}
{% load custom_filters %}
{% block content %}
{% include 'includes/breadcrumbs.html' %}
<div class="row">
	{% include 'includes/sidenav.html' %}
	<div class="col-md-9 inner-left-md border-left">
	<section class="row inner-bottom-xs">
		<nav class="col-md-3 inner-top-xs">
			<h3>
			<a href="{{ request.get_full_path | replace_url:'statistics,review' }}"><span class="fa fa-chevron-left"></span>&#12288;作业评分</a></h3>
		</nav>
		<div class="col-md-9 text-right">
			<h2>作业统计</h2>
			<p style="font-size:14px;">在这里您可以了解学生的答题情况，包括成绩分布、提交情况</p>
		</div>
	</section>
	<section id="statistics" class="border-top-lg">
		<div class="row">
			<div class="col-sm-12 inner-right-xs inner-bottom-xs">
				<div class="inner-top-xs">
					<h2 class="sidelines text-center">
						<span>题目：{{ question.subject }}</span>
					</h2>
				</div>
				<p style="font-size:16px;">问题描述：{{ question.content }}</p>
				<p style="font-size:16px;">截止日期：{{ question.ddl }}	</p>
				{% if question.status %}
				<p style="color:#1ABB9C; font-size:16px;">状态：开放中</p>
				{% else %}
				<p style="color:#d9534f; font-size:16px;">状态：已关闭</p>
				{% endif %}
			</div>
		</div>
	</section>

	<section class="inner-top-xs">
		<div class="row">
			<div class="col-md-12 text-center">
				<h3 class="sidelines text-center">
					<span>点名表</span>
				</h3>
				<div class="col-md-6 border-right" style="color: #1ABB9C;">
					<h4 style="color: #1ABB9C;">已交人数：{{ uploaded_students.count }}</h4>
					{% for student in uploaded_students %}
						<div class="col-md-6" style="font-size: 16px">
							{{ student.user_id }}-{{ student.name }}
						</div>
					{% endfor %}
				</div>
				<div class="col-md-6 border-right" style="color: #fa6c65">
					<h4 style="color: #fa6c65">未交人数：{{ undone_students.count }}</h4>
					{% for student in undone_students %}
						<div class="col-md-6" style="font-size: 16px">
							{{ student.user_id }}-{{ student.name }}
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</section>

	<section class="inner-top-xs">
		<div class="row">
			<h3 class="sidelines text-center">
				<span>提交情况统计</span>
			</h3>
			<p align="middle" style="font-size:14px;">*学生允许自行删除被驳回的答案</p>
			<div class="col-md-12">
				<div class="col-md-3">
				<p>提交总数：{{ uploaded.count }}</p>
				</div>
				<div class="col-md-3">
				<p>已批改答案：{{ reviewed.count }}</p>
				</div>
				<div class="col-md-3">
				<p>未批改答案：{{ remained.count }}</p>
				</div>
				<div class="col-md-3">
				<p>驳回答案：{{ rejected.count }}</p>
				</div>
				<div class="col-md-4 inner-top-md text-center">
					<p>该作业的最好成绩：</p>
					<h2>{{ reviewed.0.get_grade_display }}</h2>
				</div>
				<div class="col-md-8 inner-top-xs">
				<div id="barChart" style="height: 300px; width:100%"></div>
				</div>
				<div class="col-md-12">
					<div id="lineChart" style="height: 300px; width:100%"></div>
				</div>
			</div>
		</div>
	</section>
	</div>
</div>

{% endblock content %}

{% block javascript %}

<script src="{% static 'js/echarts.js' %}"></script>

<script>
var barChart = echarts.init($("#barChart")[0], 'light');
//显示标题、图例和空的坐标轴
barChart.setOption({
	title: {
            text: '成绩分布',
            textStyle:{
            	fontFamily: 'Microsoft Yahei',
            	fontSize: 16,
            	color: '#73879C',
            }
        },
        tooltip: {},
        legend: {
        	right: 10,
            data:['人数']
        },
        xAxis: {
            data: []
        },
        yAxis: {},
        series: [{
            name: '人数',
            type: 'bar',
            data: []
        }]
});
//异步加载数据
barChart.showLoading();
$.get("gradedis/").done(function(result){	
	let categories = [];
	let gradedis = [];
	$.each(result, function(i, item){
		categories.push(i)
		$.each(item, function(ano, count){
			gradedis.push(count)
		})
	});
		barChart.hideLoading();
		barChart.setOption({
		xAxis:{
			data: categories
		},
		series:[{
			name: "人数",
			data: gradedis
		}]
	})
})
</script>

<script>
var lineChart = echarts.init($("#lineChart")[0], 'light');
//显示标题、图例和空的坐标轴
lineChart.setOption({
	title: {
            text: '时间分布',
            textStyle:{
            	fontFamily: 'Microsoft Yahei',
            	fontSize: 16,
            	color: '#73879C',
            }
        },
        tooltip: {},
        legend: {
        	right: 10,
            data:['提交数']
        },
        xAxis: {
            data: []
        },
        yAxis: {},
        series: [{
            name: '提交数',
            type: 'line',
            data: []
        }]
});
//异步加载数据
lineChart.showLoading();
$.get("timedis/").done(function(result){
	console.log(result);
	let categories = [];
	let count = [];
	$.each(result, function(i, item){
		categories.push(i)
		count.push(item)
	})
	lineChart.hideLoading();
	lineChart.setOption({
		xAxis:{
			data: categories
		},
		series:[{
			data: count,
			type: 'line',
			name: '提交数'
		}]
	})
})
</script>
{% endblock javascript %}

