
<div class="custom-form" style="font-size: 14px;">
	<h4 class="sidelines text-center" style="font-weight: normal;">
		<span><a v-show="show_add" @click="AddShow" href="javascript:void(0)">创建试题表单</a></span>
	</h4>
	<form id="one-form" action="one/">
		{{ form.as_p }}
    	<button id="btn-import-one" class="btn btn-small btn-block btn-navy" type="submit">上传</button>
	</form>
</div>

<!--自动填写-->
<script>
	var courseID = $("#one-courseID").val();
	$("#id_courseID").val(courseID);
	var e_type = $("#inpute_type_one").val();
	if (e_type == 'm-choice'){
		$("#id_is_single").attr("checked", false);
	}
</script>

<!--上传单条试题-->
<script>
	$("#btn-import-one").on("click", function(){
		event.preventDefault();
		var form = $("#one-form").serialize();
		var e_type = $("#inpute_type_one").val();
		$.ajax({
			url: "add/"+e_type+"/",
			type: "POST",
			headers: { "X-CSRFToken": $.cookie("csrftoken") },
			data: form,
			success: function(result){
				console.log(result);
				if (result['result'] == false){
					alert("请先填写创建表单，再上传！")
				}
			}
		})
	})
</script>
