{% load static %}
<style>
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
/*  width: 300px;
*/
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
/*  font-family: Helvetica, Arial, sans-serif;
 */

}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
</style>

<style>
@media only screen and (max-width: 750px) {
    .mobile-hide {
        display: none ! important;
    }
}
p {
	font-size: 16px;
}
li {
	font-size: 16px;
}
</style>
<div id="sidenav" class="col-md-3 inner-bottom-sm mobile-hide">

	<div class="col-md-12 border-top text-center inner-top-xs inner-bottom-xs">
		{% if request.user.is_teacher %}
		<a href="/dispatch/teacher/"><strong style="font-size:20px;">我的课程</strong><span class="fa fa-chevron-right" style="margin-left:20px;"></span></a>
		{% else %}
		<a href="/dispatch/student/"><strong style="font-size:23px;">我的课程</strong><span class="fa fa-chevron-right" style="margin-left:20px;"></span></a>
		{% endif %}
		<div class="col-md-12 border" style="margin-top:20px; padding:0px;">
			<div class="col-md-6 border-right" style="padding:8px;">
				<a href="javascript:void(0)" @click="newQuestionShow" style="font-size:80%;"><span class="fa fa-question-circle-o fa-lg"></span>&nbsp;最新作业</a>
			</div>
			<div class="col-md-6" style="padding:8px;">
				<a href="javascript:void(0)" @click="newAnswerShow" style="font-size:80%;"><span class="fa fa-upload fa-lg"></span>&nbsp;最新提交</a>
			</div>
		</div>
	</div>

	<div class="col-md-12 inner-bottom-xs">
		<h3 class="sidelines text-center"><span>作业提醒</span></h3>
		<p align="center"><a href="javascript:void(0)" @click="unfinishedShow">未完成的作业<span id="unfinished-bad" class="badge" style="background-color:#d9534f; margin-top:-3px; margin-left:5px"></span></a></p>
		<p align="center"><a href="javascript:void(0)" @click="warningShow">明天晚上截至的作业<span id="warning-bad" class="badge" style="background-color:#d9534f; margin-top:-3px; margin-left:5px"></span></a></p>
		<p align="center"><a href="javascript:void(0)" @click="rejectedShow">被驳回的答案<span id="rejected-bad" class="badge" style="background-color:#f27a24; margin-top:-3px; margin-left:5px"></span></a></p>
	</div>

	<div class="col-md-12 border-bottom">
		<h3 class="sidelines text-center"><span>当前用户</span></h3>
		<ul class="fa-ul">
		<li id="name" style="margin:5px;">
			{% if request.user.is_teacher %}
			<span class="fa-li fa fa-graduation-cap" style="margin-top:4px; margin-left:-3px;">
			</span>用户名：{{ request.user.name }}</li>
			{% else %}
			<span class="fa-li fa fa-user-o" style="margin-top:4px; margin-left:-3px;">
			</span>用户名：{{ request.user.name }}</li>
			{% endif %}
		<li style="margin:5px;"><span class="fa-li fa fa-barcode" style="margin-top:4px; margin-left:-3px;"></span>用户号：{{ request.user.user_id }}</li>
		<li style="margin:5px;"><span class="fa-li fa fa-street-view" style="margin-top:4px; margin-left:-3px;"></span>学&#12288;院：{{ request.user.dept }}</li>
		<li style="margin:5px;"><span class="fa-li fa fa-clock-o" style="margin-top:4px; margin-left:-3px;"></span>上次登录：<br />{{ request.user.last_login }}</li>
		</ul>
	</div>
  <modal v-if="showModal" @close="showModal = false" :list="list" :has_ddl="has_ddl">
  </modal>
</div>

<!-- template for the modal component -->
<template id="modal-template">
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-dialog modal-xs modal-container">
          <div class="modal-header">
            <slot name="header">
              通用模态窗
            </slot>
          </div>

          <div class="modal-body">
            <slot name="body">
            	<ul style="font-family:Microsoft Yahei;">
            		<li v-for="item in list" class="text-center">
            			<a :href="'/dispatch/'+item.courseID+'/'+item.questionID+'/upload'" style="font-weight:bold">题目：{% verbatim %}{{ item.subject }}{% endverbatim %}</a>
            			<br />
            			<p style="margin: 0px;">发布日期：{% verbatim %}{{ item.created_at }}{% endverbatim %}</p>
            			<p v-if="!has_ddl">成绩：{% verbatim %}{{ item.grade }}{% endverbatim %}</p>
            			<p v-if="has_ddl">截止日期：{% verbatim %}{{ item.ddl }}{% endverbatim %}</p>
            			<br>
            		</li>
            	</ul>
            </slot>
          </div>

          <div class="modal-footer">
            <slot name="footer">
              <button class="btn btn-small" @click="$emit('close')">
                确认
              </button>
            </slot>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<!--引入Vue.js-->
<script src="{% static 'js/vue.js' %}"></script>
<script src="{% static 'js/axios.js' %}"></script>

<script>
// register modal component
Vue.component('modal', {
  template: '#modal-template',
  data: function(){
  	return{
  	}
  },
  props: ['list', 'has_ddl', 'has_grade'],
  methods:{},
})

// start app
new Vue({
  el: '#sidenav',
  data: {
	showModal: false,
	has_grade: true,
	has_ddl: !this.has_grade,
	rejectedList: [],
	warningList: [],
	unfinishedList: [],
	newQuestionList: [],
	newAnswerList: [],
	list: [],
  },
  created(){
	let csrftoken = $.cookie("csrftoken"),
		formData = new FormData();
	//查询最近七天发布的作业数
	let urlNewQ = "{% url 'query_newquestions' %}";
	axios({
			method: 'POST',
			url: urlNewQ,
  			headers: {'X-CSRFToken': csrftoken},
			data: formData,
	})
	.then(function(response){
		$.each(response.data, function(i, item){
			this.newQuestionList.push(item['questionID'])
		}.bind(this))
	}.bind(this))
	.catch(function(error){
		console.log(error)
	});
	//查询最近七个答案
	let urlNewA = "{% url 'query_newanswers' %}";
	axios({
			method: 'POST',
			url: urlNewA,
  			headers: {'X-CSRFToken': csrftoken},
			data: formData,
	})
	.then(function(response){
		console.log(response)
		$.each(response.data, function(i, item){
			this.newAnswerList.push(item)
		}.bind(this))
	}.bind(this))
	.catch(function(error){
		console.log(error)
	});
  	//查询驳回的作业数
	let urlRejected = "{% url 'query_questions_rejected' %}",
		user_id = "{{ request.user.user_id }}";
	formData.append('user_id', user_id);
	axios({
			method: 'POST',
			url: urlRejected,
  			headers: {'X-CSRFToken': csrftoken},
			data: formData,
	})
	.then(function(response){
		let $badge = $("#rejected-bad");
		$badge.text(response.data.length)
		$.each(response.data, function(i, item){
			this.rejectedList.push(item['questionID'])
		console.log(this.rejectedList)
		}.bind(this))
	}.bind(this))
	.catch(function(error){
		console.log(error)
	});
	//查询临近截至的作业数
	let urlWarning = "{% url 'query_questions_in_warning' %}";
	axios({
			method: 'POST',
			url: urlWarning,
  			headers: {'X-CSRFToken': csrftoken},
			data: formData,
	})
	.then(function(response){
		let $badge = $("#warning-bad");
		$badge.text(response.data.length)
		$.each(response.data, function(i, item){
			this.warningList.push(item['questionID'])
		console.log(this.warningList)
		}.bind(this))
	}.bind(this))
	.catch(function(error){
		console.log(error)
	});
	//查询未完成的作业数
	let urlUnfinished = "{% url 'query_questions_unfinished' %}";
	axios({
			method: 'POST',
			url: urlUnfinished,
  			headers: {'X-CSRFToken': csrftoken},
			data: formData,
	})
	.then(function(response){
		let $badge = $("#unfinished-bad");
		$badge.text(response.data.length)
		$.each(response.data, function(i, item){
			this.unfinishedList.push(item['questionID'])
		console.log(this.unfinishedList)
		}.bind(this))
	}.bind(this))
	.catch(function(error){
		console.log(error)
	});
  },
  methods:{
  	rejectedShow: function(){
  		this.list = [];
  		$.each(this.rejectedList, function(i, questionID){
  			let url = "{% url 'retrive_rejected' %}",
				formData = new FormData(),
				csrftoken = $.cookie("csrftoken");
				formData.append('questionID', questionID);

  			axios({
  				method: 'POST',
  				url: url,
  				headers: {'X-CSRFToken': csrftoken},
  				data: formData,
  			})
  			.then(function(response){
  				this.list.push(response.data)
  				console.log(response)
  			}.bind(this))
  		}.bind(this))
  		this.has_ddl = true
  		this.has_grade = !this.ddl
  		this.showModal = true
  	},
  	warningShow: function(){
  		this.list = [];
  		$.each(this.warningList, function(i, questionID){
  			let url = "{% url 'retrive_warning' %}",
				formData = new FormData(),
				csrftoken = $.cookie("csrftoken");
				formData.append('questionID', questionID);

  			axios({
  				method: 'POST',
  				url: url,
  				headers: {'X-CSRFToken': csrftoken},
  				data: formData,
  			})
  			.then(function(response){
  				this.list.push(response.data)
  				console.log(response)
  			}.bind(this))
  		}.bind(this))
  		this.has_ddl = true
  		this.has_grade = !this.ddl
  		this.showModal = true
  	},
  	unfinishedShow: function(){
  		this.list = [];
  		$.each(this.unfinishedList, function(i, questionID){
  			let url = "{% url 'retrive_unfinished' %}",
				formData = new FormData(),
				csrftoken = $.cookie("csrftoken");
				formData.append('questionID', questionID);

  			axios({
  				method: 'POST',
  				url: url,
  				headers: {'X-CSRFToken': csrftoken},
  				data: formData,
  			})
  			.then(function(response){
  				this.list.push(response.data)
  				console.log(response)
  			}.bind(this))
  		}.bind(this))
  		this.has_ddl = true
  		this.has_grade = !this.ddl
  		this.showModal = true
  	},
  	newQuestionShow: function(){
  		this.list = [];
  		$.each(this.newQuestionList, function(i, questionID){
  			let url = "{% url 'retrive_newquestions' %}",
				formData = new FormData(),
				csrftoken = $.cookie("csrftoken");
				formData.append('questionID', questionID);

  			axios({
  				method: 'POST',
  				url: url,
  				headers: {'X-CSRFToken': csrftoken},
  				data: formData,
  			})
  			.then(function(response){
  				this.list.push(response.data)
  				console.log(response)
  			}.bind(this))
  		}.bind(this))
  		this.has_ddl = true
  		this.has_grade = !this.ddl
  		this.showModal = true
  	},
  	newAnswerShow: function(){
  		this.list = [];
  		console.log(this.newAnswerList)
  		$.each(this.newAnswerList, function(i, answerID){
  			let url = "{% url 'retrive_newanswers' %}",
				formData = new FormData(),
				csrftoken = $.cookie("csrftoken");
				formData.append('answerID', answerID);

  			axios({
  				method: 'POST',
  				url: url,
  				headers: {'X-CSRFToken': csrftoken},
  				data: formData,
  			})
  			.then(function(response){
  				console.log(response)
  				this.list.push(response.data)
  				console.log(response)
  			}.bind(this))
  		}.bind(this))
  		this.has_ddl = false
  		this.has_grade = !this.ddl
  		this.showModal = true
  	},
  }
})
</script>
