{% extends "base.html" %}
{% load i18n %}

{% block content %}
{% if validlink %}
	<div class="form-wrapper">
		<form method="post" action=".">
			{% if form.errors %}
				{% include "users/partials/errors.html" %}
			{% endif %}
			{% csrf_token %}
			{% for field in form %}
				{% include "users/partials/field.html" %}
			{% endfor %}
			<div class="button-wrapper submit">
				<input class="btn" type="submit" value="发送" />
			</div>
		</form>
	</div>
{% else %}
	<p>密码重置失败！</p>
{% endif %}
{% endblock %}
