{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="row">
	<section>
		<h1 align="middle">注册新账号</h1>
	</section>

	<section class="border-top-md">
		<div class="row">
			<div class="col-sm-12 inner-right-xs inner-bottom-xs">
				<div class="text-center inner-top-xs">
					<div class="col-md-4 col-md-offset-4">
						<div class="form-wrapper">
							<form method="post" action=".">
								{% if form.errors %}
									{% include "users/partials/errors.html" %}
								{% endif %}
								{% csrf_token %}
								{% for field in form %}
									{% include "users/partials/field.html" %}
								{% endfor %}
								<div class="button-wrapper submit">
									<input class="btn btn-primary"  type="submit" value="注&nbsp;&nbsp;&nbsp;&nbsp;册" />
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
{% endblock %}
