{% extends 'base.html' %}
{% load static %}
{% block title %}管理题库{% endblock title %}
{% block content %}
<style>
	label{
		font-size: 14px;
	}	
</style>
<div id="bank-manage" class="row">
	<div class="col-md-12 border-left">
		<section class="text-right">
			<h2>题库管理</h2>
			<p style="font-size:14px;">您可以在此管理您的题库，包括创建、添加、删除和导出</p>
			<br />
		</section>
		<section class="border-top-md">
			<div class="row inner-xs">
				<!--左侧-->
				<div class="col-md-6 border-right">
					<add-import :courses="courses"></add-import>
					
					<edit :courses="courses"></edit>
<!--
					<drop :courses="courses"></drop>
-->
				</div>
				<!--右侧-->
				<e-candidata :courses="courses"></e-candidata>
			</div>
		</section>
	</div>
</div>


<template id="add-import">
	<div class="col-md-12">
		<h3 class="sidelines text-center">
			<span>新建题库</span>
		</h3>
		<a id="import-one-btn" class="btn btn-small" @click="OneShow">新建单条试题</a>
		<a id="import-bulk-btn" class="btn btn-small" @click="BulkShow">批量导入试题</a>
		<!--导入单条试题-->
		<div id="import-one" style="padding: 5px; margin: 20px;" v-show="one_show">
			<h4 class="sidelines text-center" style="font-weight: normal;">
				<span>导入单条试题</span>
			</h4>
			<div class="inner-bottom-xs">
				<div style="font-size: 12px;">
					<span class="fa fa-caret-right">&nbsp;&nbsp;</span>
					<span style="margin:0px">请先选择题型，然后按照提供的表单格式填写；点击表单头可展开/隐藏表单。</span>
				</div>
			</div>
			<div class="form-horizontal">
				<input type="hidden" name="user_id" value="{{ request.user.user_id }}">
				<div class="form-group" style="margin: 0px;">
					<label class="col-md-2 control-label" style="font-size: 14px; padding:0px;">所属课程</label>
					<div class="col-md-10">
						<select name="courseID" id="one-courseID" class="form-control" style="width: 180px;" v-model="one_courseID">
							<option value="">请选择课程</option>
							{% verbatim %}
							<option v-for="course in courses" :value="course.courseID">{{ course.course }}</option>
							{% endverbatim %}
						</select>
					</div>
				</div>
				<div class="form-group" style="margin: 0px;">
					<label class="col-md-2 control-label" style="font-size: 14px; padding:0px;">所选题型</label>
					<div class="col-md-10">
						<select name="e_type" id="one-e-type" class="form-control" style="width: 180px;" v-model="one_e_type">
							<option value="">请选择题型</option>
							<option value="s-choice">单选题</option>
							<option value="m-choice">多选题</option>
							<option value="judge">判断题</option>
							<option value="s-answer">简答题</option>
							<option value="blank">填空题</option>
						</select>
					</div>
				</div>
			</div>
			<div>
				<div style="font-size: 14px;">
					<h4 class="sidelines text-center" style="font-weight: normal;">
						<span><a href="javascript:void(0)" @click="FormShow">创建试题表单</a></span>
					</h4>
					<div v-show="form_show">
						<form v-html="one_form">
						</form>
						<button class="btn btn-small btn-navy btn-block" @click.prevent="OneUpload">上传</button>
		    		</div>
				</div>
			</div>
		</div>
		<!--批量导入试题-->
		<div id="import-bulk" style="padding: 5px; margin: 20px;" v-show="bulk_show">
			<h4 class="sidelines text-center" style="font-weight: normal;">
				<span>批量导入试题</span>
			</h4>
			<div class="inner-bottom-xs">
				<div style="font-size: 12px;">
					<span class="fa fa-caret-right">&nbsp;&nbsp;</span>
					<span style="margin:0px">使用EXCEL作为模板文件(仅支持.xls格式)，请注意按照格式要求，并且文件编码必须为UTF8</span>
				</div>
				<div style="font-size: 12px;">
					<span class="fa fa-caret-right">&nbsp;&nbsp;</span>
					<span style=" margin:0px">请下载模板，并按照格式要求填写。填写完成后，上传文件即可完成导入。
					您也可以使用我们提供的标准化转换服务，详情请转到"定制工具"界面。</span>
					<br />
					<a href="/media/EXCEL题库模板.rar" style="color: green">下载EXCEL模板</a>
				</div>
			</div>
			<form method="post" enctype="multipart/form-data" id="bulk-form" class="form-horizontal">
				{% csrf_token %}
				<input type="hidden" name="user_id" value="{{ request.user.user_id }}">
				<div class="form-group" style="margin: 0px;">
					<label class="col-md-2 control-label" style="font-size: 14px; padding:0px;">所属课程</label>
					<div class="col-md-10">
						<select name="courseID" id="bulk-courseID"class="form-control" style="width: 180px;" v-model="bulk_courseID">
							<option value="">请选择课程</option>
							{% verbatim %}
							<option v-for="course in courses" :value="course.courseID">{{ course.course }}</option>
							{% endverbatim %}
						</select>
					</div>
				</div>
				<div class="form-group" style="margin: 0px;">
					<label class="col-md-2 control-label" style="font-size: 14px; padding:0px;">所选题型</label>
					<div class="col-md-10">
						<select name="e_type" id="inpute_type" class="form-control" style="width: 180px;" 
						v-model="bulk_e_type">
							<option value="s-choice">单选题</option>
							<option value="m-choice">多选题</option>
							<option value="judge">判断题</option>
							<option value="s-answer">简答题</option>
							<option value="blank">填空题</option>
						</select>
					</div>
				</div>
		        <div class="form-group" style="margin: 0px;">
		        	<label class="col-md-2 control-label" style="font-size: 14px; padding:0px;">上传文件</label>
					<div class="col-md-10">
		        		<input id="file" type="file" name="file" @change="getFile($event)" />
		        	</div>
		        </div>
			</form>
			<div class="text-center" style="margin-top: 10px;" v-show="processing_show">
				<span class="fa fa-spinner fa-spin"></span>
				<span>&nbsp;&nbsp;正在处理上传的题库...</span>
			</div>
    		<button class="btn btn-small btn-block btn-navy" @click="BulkUpload">上传</button>
		</div>
	</div>
</template>

<template id="edit">
<!--编辑题库-->
	<div class="col-md-12 inner-bottom-xs">
		<h3 class="sidelines text-center">
			<span>编辑题库</span>
		</h3>
		<div>
			<div style="font-size: 12px;">
				<span class="fa fa-caret-right">&nbsp;&nbsp;</span>
				<span style="margin:0px">从题库中选择任意试题，点击即可编辑试题内容；点击表单头可展开/隐藏表单。</span>
			</div>
			<div style="font-size: 12px;">
				<span class="fa fa-caret-right">&nbsp;&nbsp;</span>
				<span style=" margin:0px">批量删除试题：先从右侧题库中选中需要删除的试题，然后点击下方的"批量删除试题"按钮即可批量删除。</span>
				<br />
			</div>
		</div>
		<div class="text-center">
			<a class="btn btn-red btn-small" href="javascript:void(0);" @click="Delete">批量删除试题</a>
		</div>
		<div class="hotizon-label text-center">
			<h4 class="sidelines text-center" style="font-weight: normal;">
				<span>批量导出题库</span>
			</h4>
			<label>选择题库：</label>
			<select name="courseID" id="export-courseID" style="height: 30px; width: 180px; margin-bottom: 0px;" v-model="export_courseID">
				<option value="">请选择要导出的题库</option>
				{% verbatim %}
				<option v-for="course in courses" :value="course.courseID">{{ course.course }}</option>
				{% endverbatim %}
			</select>
			<button class="btn btn-small" href="javascript:void(0);" @click="BankExport">导出题库</button>
		</div>
		<div class="text-center" v-show="generating_show">
			<span class="fa fa-spinner fa-spin"></span>&nbsp;&nbsp;请稍等，正在生成题库文件...
		</div>
		<div class="inner-xs col-md-12" v-if="exported_files_show">
			<div class="col-md-2 text-center" v-for="(value, key) in exported_e_types">
				<a :href="value">
					<span class="fa fa-file-excel-o fa-2x green">&nbsp;</span>
					<div>{% verbatim %}{{ key }}{% endverbatim %}</div>
				</a>
			</div>
		</div>
		<div id="editable" class="col-md-12">
			<div style="font-size: 14px;">
				<h4 class="sidelines text-center" style="font-weight: normal;">
					<span><a href="javascript:void(0)" @click="EditableFormShow">编辑试题表单</a></span>
				</h4>
				<div v-show="editable_form_show">
					<form id="editable-form" v-html="editable_form">
						{{ form.as_p }}
					</form>
			    	<button class="btn btn-small btn-block btn-navy" @click="EditUpload">上传</button>
			    </div>
			</div>
		</div>
	</div>
</template>

<template id="drop">
<!--移除题库-->
<div>
	<div class="col-md-12">
		<h3 class="sidelines text-center">
			<span>移除题库</span>
		</h3>
		<div class="inner-bottom-xs">
			<div style="font-size: 12px;">
				<span class="fa fa-caret-right">&nbsp;&nbsp;</span>
				<span style="margin:0px">注意：题库依托于课程，移除题库操作将会删除所选课程的所有题型、所有试题，请谨慎操作！</span>
			</div>
			<div style="font-size: 12px;">
				<span class="fa fa-caret-right">&nbsp;&nbsp;</span>
				<span style="margin:0px">已保存的草稿、未打印的试卷依赖于当前题库，移除题库会使得这些内容全部失效！</span>
			</div>
		</div>
		<div class="hotizon-label">
			<label>题库：</label>
			<select name="courseID" id="drop-courseID" style="height: 30px; width: 180px; margin-bottom: 0px;" v-model="drop_courseID">
				<option value="">请选择要移除的题库</option>
				{% verbatim %}
				<option v-for="course in courses" :value="course.courseID">{{ course.course }}</option>
				{% endverbatim %}
			</select>
		<button class="btn btn-red btn-small" v-if="drop_btn_show" data-toggle="modal" data-target="#DeleteModal">移除整个题库</button>
		</div>
	</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="DeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="DeleteModalLabel">确认移除？</h4>
            </div>
            <div class="modal-body text-center inner-xs">
	            <p>这将移除您选择的题库(请仔细阅读注意事项)</p>
	            <p style="font-size: 14px">注意事项①：题库依托于课程，移除题库操作将会删除所选课程的所有题型、所有试题，请谨慎操作！</p>
	        	<p style="font-size: 14px">注意事项②：已保存的草稿、未打印的试卷依赖于当前题库，移除题库会使得这些内容全部失效！</p>
        	</div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-red" data-dismiss="modal" @click="Drop">确认移除</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

</div>
</template>

<template id="e-candidata">
<!--查询题库-->
	<div class="col-md-6">
		<div class="col-md-12 text-left" style="background-color: #f5f5f5;">
			<p style="font-size: 16px; padding: 5px 5px;">查看&搜索题库</p>
		</div>
		<div class="col-md-12" style="margin-top: 10px;">
			<form action="query/" method="POST" id="query" class="form-inline">
				{% csrf_token %}
				<div class="form-group">
					<label>课程</label>
					<select name="courseID" id="id_courseID_id"class="form-control" style="width: 120px; margin-bottom: 0px;" v-model="query_courseID">
						<option value="">请选择课程</option>
						{% verbatim %}
						<option v-for="course in courses" :value="course.courseID">{{ course.course }}</option>
						{% endverbatim %}
					</select>
				</div>
				<div class="form-group" >
					<label>题型</label>
					<select name="e_type" id="id_e_type" class="form-control" style="height: 38px; width: 100px; margin-bottom: 0px;" v-model="query_e_type">
						<option value="s-choice">单选题</option>
						<option value="m-choice">多选题</option>
						<option value="judge">判断题</option>
						<option value="s-answer">简答题</option>
						<option value="blank">填空题</option>
					</select>
				</div>
				<div class="form-group">
					<input type="text" name="keyword" id="id_keyword" class="form-control" style="width: 100px; margin-bottom: 1px;" placeholder="筛选关键词" v-model="query_keyword">
				</div>
				<button type="submit" class="btn btn-small" style="margin-bottom: 0px;" @click.prevent.stop="query"><span class="fa fa-search fa-lg"></span></button>
			</form>
		</div>
		<div class="col-md-12" style="margin-top: 10px; padding: 0px;">
			<div id="candidate" class="border" style="height: 500px; overflow-y: scroll;">
				<div class="col-md-12 border-bottom" style="padding-top: 5px;">
					<input v-model="all_checked" type="checkbox" style="height: 18px; width: 30px;">
					<span style="font-size:16px; height: 18px; width: 30px; margin-left: 15px; margin-bottom: 5px;">全选</span>
				</div>
				<div>
					<div class="col-md-12 border-bottom" style="padding-top: 5px;" v-for="(candidate, index) in candidate_list">
						{% verbatim %}
						<input type="checkbox" :value="candidate.id" :data-type="query_e_type" v-model="delete_list" style="height: 18px; width: 30px;">
						<a @click="OneEdit" href="javascript:void(0)" style="font-size: 16px;" :data-id="index">{{ candidate.descri }}</a>
						{% endverbatim %}
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

{% endblock content %}

{% block javascript %}
<!--引入Vue.js-->
<script src="{% static 'js/vue.js' %}"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script src="{% static 'js/jquery.form.js' %}"></script>

<script>

//题型标识转换
jQuery.translate = function(e_type){
	switch(e_type){
		case("s-choice"): e_type_name = '单选题'; break;
		case("m-choice"): e_type_name = '多选题'; break;
		case("judge"): e_type_name = '判断题'; break;
		case("blank"): e_type_name = '填空题'; break;
		case("s-answer"): e_type_name = '简答题'; break;
	}
};
</script>

<script>
var bus = new Vue()
//——————————————————————————————————————————————————————————————————————————————————添加试题组件
Vue.component('add-import', {
	template: '#add-import',
	data: function(){
		return{
			user_id: '{{ request.user.user_id }}',
			one_courseID:'',
			bulk_courseID:'',
		    one_e_type:'',
		    bulk_e_type: 's-choice', 
		    one_form : '',
		    file: '',
			one_show: true,
			bulk_show: false,
			form_show: false,
			processing_show: false,
		}
	},
	props: ['courses',],
	methods:{
	  	//切换单条、批量功能(1)
		OneShow: function(){
			this.one_show = true,
			this.bulk_show = false
		},
		//切换单条、批量功能(2)
		BulkShow: function(){
			this.one_show = false,
			this.bulk_show = true
		},
		//显示/隐藏创建表单
		FormShow: function(){
			this.form_show = !this.form_show
		},
		//上传单条试题创建表单
		OneUpload: function(){
			let csrftoken = $.cookie("csrftoken");
	  		let form = $("#one-form")[0];
	  		let formData = new FormData(form)
			axios({
				method: 'POST',
				url: 'add/'+this.one_e_type+"/",
	  			headers: {'X-CSRFToken': csrftoken},
				data: formData,
			  })
			.then(function(response){
				console.log(response)
	    		bus.$emit('query', this.one_courseID, this.one_e_type)
			}.bind(this))
		    .catch(function (error) {
		    	console.log(error)
		    });
		},
		getFile(event){
			this.file = event.target.files[0];
			console.log(this.file);
		},
		//上传试题批量导入文件
		BulkUpload: function(){
			this.processing_show = true;
			let csrftoken = $.cookie("csrftoken");
			let formData = new FormData();
			formData.append('user_id', this.user_id)
			formData.append('courseID', this.bulk_courseID);
			formData.append('e_type', this.bulk_e_type);
			formData.append('file', this.file);
			axios({
				method: 'POST',
				url: "bulk/",
	  			headers: {'X-CSRFToken': csrftoken, 'Content-Type': 'multipart/form-data'},
				data: formData
			  })
			.then(function(response){
				console.log(response)
				this.processing_show = false
		    	if (response.data['result'] == 'Do not match'){
		    		alert("提交题型与所选题型不一致！")
		    	}else if(response.data['result'] == 'Do not support'){
		    		alert("不支持该格式，请检查上传文件！")
		    	}else if(response.data['result'] == 'not valid form'){
		    		alert("请选择上传的题库文件！")
		    	}else{
				//触发查询按钮
		    		console.log(response)
		    		bus.$emit('query', (this.bulk_courseID, this.bulk_e_type))
		    	}
			}.bind(this))
		    .catch(function (error) {
		    	console.log(error)
		    });
		}
	},

	watch:{
	  	//提供单条试题创建用表单
	  	one_e_type: function(one_e_type){
	  		let url = 'add/'+one_e_type+"/";
	  		axios.get(url)
			  .then(function (response) {
			  	this.one_form = response.data
			  	this.form_show = true
				var courseID = $("#one-courseID").val();
				$("#id_courseID").val(this.one_courseID);//this.one_courseID是双向绑定，不需要另外设置监听
				if (one_e_type == 'm-choice'){
					$("#id_is_single").val(false);
				}else if (one_e_type == 's-choice'){
					$("#id_is_single").val(true);
				}
			  }.bind(this))
			  .catch(function (error) {
			    console.log(error);
			  });
	  	}
	},
})
//——————————————————————————————————————————————————————————————————————————————————题库编辑组件
Vue.component('edit', {
	template: '#edit',
	data: function(){
		return{
			editing_e_type: '',
			editing_id: '',
			editable_form: '',
			editable_form_show: false,

			delete_e_type: '',
			delete_list: [],

    		export_courseID: '',
    		exported_e_types: {},
    		generating_show: false,
    		exported_files_show: false,

		}
	},
	props: ['courses',],
	created(){
		bus.$on('editable_form', function(editable_form, e_type, e_profile){
			this.editable_form = editable_form
			this.Retrieve(e_type, e_profile.id)
			this.editable_form_show = true
		}.bind(this))
		bus.$on('delete', function(e_type, delete_list){
			this.delete_e_type = e_type,
			this.delete_list = delete_list
		}.bind(this))
	},
	methods: {
		//编辑时读取试题信息
		Retrieve: function(e_type, id){
			this.editing_e_type = e_type
			this.editing_id = id
			let url = "{% url 'exam_retrieve' %}";
			axios({
			  method: 'get',
			  url: url,
			  params: {
			    'e_type': e_type,
			    'id': id,
			  },
			})
			.then(function (response) {
				$.each(response.data[0], function(key, item){
					$("#editable #id_"+key).val(item);
				})
				if (e_type == 'm-choice'){
					$("#id_is_single").val(false);
				}else if (e_type == 's-choice'){
					$("#id_is_single").val(true);
				}
			})
		    .catch(function (error) {
		    	console.log(error);
		    });
		},
		//显示/隐藏编辑表单
		EditableFormShow: function(){
			this.editable_form_show = !this.editable_form_show
		},
		//上传编辑后的表单
		EditUpload: function(){
			let csrftoken = $.cookie("csrftoken");
	  		let form = $("#editable-form")[0];
			let formData = new FormData(form);
			formData.append('e_type', this.editing_e_type);
			formData.append('id', this.editing_id);
			axios({
				method: 'POST',
				url: "{% url 'bank_edit' %}",
	  			headers: {'X-CSRFToken': csrftoken},
				data: formData,
			  })
			.then(function(response){
				console.log(response)
			})
		    .catch(function (error) {
		    	console.log(error);
		    });
		},
		Delete: function(){
			let csrftoken = $.cookie("csrftoken");
			axios({
				method: 'POST',
				url: "{% url 'bank_delete' %}",
	  			headers: {'X-CSRFToken': csrftoken},
				data:{
					e_type: this.delete_e_type,
					e_list: this.delete_list,
				},
			})
			.then(function(response){
				console.log(response)
			})
		    .catch(function (error) {
		    	console.log(error);
		    });
		},
		BankExport: function(){
			this.generating_show = true
			let csrftoken = $.cookie("csrftoken");
			let formData = new FormData();
			formData.append('courseID', this.export_courseID)
			axios({
				method: 'POST',
				url: "{% url 'bank_export' %}",
	  			headers: {'X-CSRFToken': csrftoken},
				data:formData,
			})
			.then(function(response){
				console.log(response)
				for (var e_type in response.data){
					if(response.data[e_type] == true){
						jQuery.translate(e_type)
						this.exported_e_types[e_type_name] = "/media/user_{{ request.user.user_id }}/"+e_type+".xls"
					}
				}
				this.exported_files_show = true
				this.generating_show = false
			}.bind(this))
			.catch(function(error){
				console.log(error)
			})
		}
	}
})

//——————————————————————————————————————————————————————————————————————————————————题库移除组件
/*Vue.component('drop', {
	template: '#drop',
	data: function(){
		return{
			drop_courseID: '',
			drop_btn_show: false,

			modal_show: false,
		}
	},
	props: ['courses',],
	created(){
		bus.$on('drop', function(){
			console.log('receive drop event')
		})
	},
	methods: {
		//移除题库
		Drop: function(event){
			let csrftoken = $.cookie("csrftoken");
			let url = "{% url 'bank_drop' %}";
			axios({
				method: 'POST',
				url: url,
	  			headers: {'X-CSRFToken': csrftoken},
	  			data:{
	  				courseID: this.drop_courseID
	  			}
			})
			.then(function (response) {
				console.log(response)
	    		bus.$emit('query', (this.drop_courseID, 's-choice'))
			  }.bind(this))
			.catch(function (error) {
			    console.log(error);
			});
		},
	},
	watch:{
		drop_courseID: function(drop_courseID){
			this.drop_courseID = drop_courseID
			this.drop_btn_show = true
		}
	}
})
*/
//——————————————————————————————————————————————————————————————————————————————————题库查询组件
Vue.component('e-candidata', {
	template: '#e-candidata',
	data: function(){
		return{
			candidate_list: '',
			query_courseID:'',
			query_e_type:'s-choice',
			query_keyword:'',

			all_checked: false,
			delete_list:[],
		}
	},
	props: ['courses',],
	created(){
		bus.$on('query', function(courseID, e_type) {
			this.query_courseID = courseID,
			this.query_e_type = e_type
			this.query_keyword = ''
			this.query()
		}.bind(this))
	},
	methods: {
		//查询题库
		query: function(evnet){
			let csrftoken = $.cookie("csrftoken");
			var url = "{% url 'bank_query_editable' %}";
			axios({
				method: 'POST',
				url: url, 
	  			headers: {'X-CSRFToken': csrftoken},
				data: {
			    courseID: this.query_courseID,
			    e_type: this.query_e_type,
			    keyword: this.query_keyword,
				}
			  })
			  .then(function (response) {
			  	this.candidate_list = response.data
			  }.bind(this))
			  .catch(function (error) {
			    console.log(error);
			  });
		},
		//向试题编辑组件广播通信（广播表单和试题信息）
		OneEdit: function(evnet){
	  		let url = "{% url 'bank_edit' %}";
	  		let e_index = $(evnet.target).data("id")
	  		axios.get(url, {
	  			params: {
	  				'e_type': this.query_e_type,
	  			}
	  		})
			  .then(function (response) {
			  	bus.$emit('editable_form', response.data, this.query_e_type, this.candidate_list[e_index])
			  }.bind(this))
			  .catch(function (error) {
			    console.log(error);
			  });

		}
	},
	watch: {
		all_checked: function(all_checked){
			if (all_checked == true){
				console.log(this.delete_list)
				var array = [];
				this.candidate_list.forEach(function(value, index){
					array.push(value.id)
				})
			}else{
				array = []
			}
			this.delete_list = array
		},
		delete_list: function(){
			bus.$emit('delete', this.query_e_type, this.delete_list)
		}
	}
})


var vm = new Vue({
  el: '#bank-manage',
  data: {
  	courses:[
  	{% for course in courses %}
  	{ 'courseID': '{{ course.courseID }}', 'course': '{{ course.course }}' },
  	{% endfor %}
  	],
  },
})
</script>

{% endblock javascript %}